stages:
  - test
run_tests:
  stage: test
  tags: ["os/linux", "gpu"]
  # Set as an environment variable in the CI/CD settings.
  # https://docs.gitlab.com/ee/ci/variables/index.html#override-variables-from-the-ui
  # Push the branch like this:
  # git push -o ci.variable="IMAGE=your/custom/image:tag" origin your-branch
  variables:
    IMAGE: nvcr.io/nvstaging/isaac-amr/isaac_arena:latest
  image: "${IMAGE}"
  before_script:
    - apt-get update && apt-get install -y --no-install-recommends git clang-format
    - pip install --no-cache-dir --upgrade pip
    - pip install --no-cache-dir pre-commit
    - pip install -e .
    # Link the docker isaac-sim into the checkout isaac_arena
    # NOTE(alex.millane, 2025-07-23): We use the version of isaac-sim that is installed
    # in the docker image. If an MR updates the isaac-sim version, you will not get that
    # version in the CI pipeline.
    # NOTE(alex.millane, 2025-07-23): We use a conditional to avoid the case where the
    # isaac-sim directory already exists due to a previous CI run.
    - '[ -e ./submodules/IsaacLab-Internal/_isaac_sim ] || ln -s /isaac-sim ./submodules/IsaacLab-Internal/_isaac_sim'
  script:
    - pre-commit run --all-files
    - /isaac-sim/python.sh -m pytest -sv isaac_arena/tests
  cache:
    key: "${CI_PROJECT_ID}"
    paths:
      - .cache/pre-commit
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
