stages:
  - lint
  - test
pre-commit:
  stage: lint
  tags: ["os/linux", "gpu"]
  # Set as an environment variable in the CI/CD settings.
  # https://docs.gitlab.com/ee/ci/variables/index.html#override-variables-from-the-ui
  # Push the branch like this:
  # git push -o ci.variable="IMAGE=your/custom/image:tag" origin your-branch
  variables:
    IMAGE: nvcr.io/nvstaging/isaac-amr/isaac_arena:latest
  image: "${IMAGE}"
  before_script:
    # - apt-get update && apt-get install -y --no-install-recommends git clang-format
    # - pip install --no-cache-dir --upgrade pip
    # - pip install --no-cache-dir pre-commit
    - pip install -e .
    - source /etc/bash.bashrc
    # Link the docker isaac-sim into the checkout isaac_arena
    - ln -s ./submodules/IsaacLab-Internal/_isaac_sim
  script:
    - alias python='/isaac-sim/python.sh'
    - alias pip3='/isaac-sim/python.sh -m pip'
    - alias pytest='/isaac-sim/python.sh -m pytest'
    # - pre-commit run --all-files
    # - pytest -sv isaac_arena/tests
    -
    - ls /isaac-sim/
    - ls /builds/nvblox/isaac_arena
    - ls /builds/nvblox/isaac_arena/submodules
    - ls /builds/nvblox/isaac_arena/submodules/IsaacLab-Internal
    - ls /builds/nvblox/isaac_arena/submodules/IsaacLab-Internal/_isaac_sim/
    - /isaac-sim/python.sh -m pytest -sv isaac_arena/tests
  cache:
    key: "${CI_PROJECT_ID}"
    paths:
      - .cache/pre-commit
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
# run_tests:
#   stage: test
#   tags: ["gpu", "os/linux"]
#   # Set as an environment variable in the CI/CD settings.
#   # https://docs.gitlab.com/ee/ci/variables/index.html#override-variables-from-the-ui
#   # Push the branch like this:
#   # git push -o ci.variable="IMAGE=your/custom/image:tag" origin your-branch
#   variables:
#     IMAGE: nvcr.io/nvstaging/isaac-amr/isaac_arena:latest
#   image: "${IMAGE}"
#   before_script:
#     # - . /opt/venv/bin/activate
#     - python -m pip install --ignore-installed --upgrade pip
#     - pip install -e .
#     # - ci/print_system_status.sh
#   script:
#     - pytest -sv isaac_arena/tests
#   cache:
#     key: "${CI_PROJECT_ID}"
#     paths:
#       - .cache/run_tests
